.change {
  color: rgb(164, 40, 40);
  background-color: blue;
  height: 50px;
  margin-right: 40px;
  font-size: 16px bold;
}
.input {
  color: rgb(31, 114, 187);
  height: 200px;
  width: 800px;
}
.inputh4 {
  padding-left: 40px;
  padding-bottom: 90px;
}
.video {
  height: 50px;
  width: 400px;
}
.secound {
  height: 50px;
  width: 230px;
  margin-left: 570px;
}
.lastText {
  color: #a220cf;
  margin-left: 40px;
  font-size: 18px;
}
